<?xml version="1.0" encoding="UTF-8"?>
<!--deprecated: http://www.springframework.org/dtd/spring-beans.dtd -->
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

     <bean id="customerService" class="com.an.antry.spring.aop.CustomerService">
          <property name="name" value="Yong Mook Kim" />
          <property name="url" value="http://www.mkyong.com" />
     </bean>
</beans>